{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1>{% trans "Sign Up" %}</h1>

<p>Already have an account? Then please <a href="{% url 'account_login' %}">sign in</a>.</p>

<form class="signup" enctype="multipart/form-data" id="signup_form" method="post" action="{% url 'doctor_sign_up' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {{ doctor_profile_form|crispy }}
 
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit" class="btn btn-primary">{% trans "Sign Up" %} &raquo;</button>
 
</form>

{% endblock %}
